/.venv/
/.idea/
/multidim_market_data_new.csv
/src/market_telemetry/trades_log.csv
/src/market_telemetry/signals_snapshots/
/src/market_telemetry/backtest_results_with_signals.csv
/src/market_telemetry/trading_execution_logs.csv
/data/backtest_results_with_signals.csv
/data/labeled_market_data.csv
/data/market_data.csv
/data/csv_labeled/multidim_labeled_market_data.csv
/data/trades_log.csv
/data/trading_execution_logs.csv
/data/multidim_market_data.csv
*.pkl
/src/market_telemetry/prod/paper_trading.log
/data/csv/multidim_market_data.csv
/data/csv/multidim_market_data.csv.1.gz
/src/market_telemetry/prod/multidim_market_data.csv
/data/csv_labeled/labeled_data_2026-06.csv
/data/csv/*_labeled.csv
__pycache__
